# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.exe
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# Own
clientlib/clientlib

# Misc
TAGS
cloud_test.test
cloud.test

# emacs
*#*
tool

#idea
server/out/*
server/store/*

#test artefacts
server/src/lux/luxout.png
server/src/lux/example.lsx
server/src/lux/example.stdout