<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CairnSmith Cloud</title>
    <script type='text/javascript' src='angular_full.js'></script>
    <script type='text/javascript' src='cloud.js'></script>
  </head>
  <body>
    <h3>Configuration</h3>
    <div ng-app ng-controller="Controller">
      <div ng-hide="false">
	<form>
	  <input type="text" ng-model="login_name" /><br/>
	  <input type="text" ng-model="login_password" /><br/>
	  <button ng-click="login()">Login</button>
	</form>
      </div>
      <div ng-hide="false"> 
	{{ user_name }}
      </div>
    </div>
  </body>
</html>
